header {
    background-color: red;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none; 
    display: flex;
    justify-content: center;

}
nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

body {
    font-family: Arial, sans-serif; margin: 0;
    padding: 0;
    text-align: center;
}

#about img {
    max-width: 20%;
}

#projects img {
    max-width: 50%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333; 
    color: #fff;
}